.body{
  background-color:#E9ECEF;
}


ul {
  list-style-position: inside;
}

.pill{
  background-color: grey; 
  color: white; 
  font-size: 12px;
  
}


.font {
  font-family: 'Indie Flower', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
}